[Desktop Entry]
Version=1.0
Type=Application
Name=antpatt
Comment=Antenna pattern plotting and analysis software
Icon=antpatt
Exec=antpatt
Terminal=false
Categories=Science;
StartupNotify=false
